In [1]:
import pandas as pd
import numpy as np

In [2]:
folder = "database_cleaned"
avis_clean = pd.read_csv(f"database_cleaned/avis_clean.csv", index_col=0)
jeux_clean = pd.read_csv(f"database_cleaned/jeux_clean.csv", index_col=0)

In [37]:
def filter_df(df_reviews, min_reviews, max_iter = 10):
    """
    TODO : add parameters (memorise previous values) to stop the function when the number of users & games has converged
    """

    if (max_iter == 0):
        return df_reviews
    
    # Print remaining number of users and remaining number of games
    print(df_reviews["User id"].nunique(), df_reviews["Game id"].nunique())

    # Goal : eliminate users who gave less than < min_reviews
    # Dataframe produced : index, User id, Number of rated games per user [this column is named as Game id]
    count_users = df_reviews[["Game id", "User id"]].groupby("User id").count().reset_index()

    # Reduce DataFrame 'df_reviews' which will contain only users who gave at least 'min reviews' 
    reduced = df_reviews[df_reviews["User id"].isin(count_users[count_users["Game id"] > min_reviews]["User id"])] # delete users

    # Goal : eliminate games who gave less than < min_reviews (users are already deleted)
    # Dataframe produced : index, Game id, Number of users who rated the game [this columns is named as User id]
    count_games = reduced.groupby("Game id").count().reset_index()
    
    # Reduce DataFrame 'reduced' which will contain only users who gave at least 'min reviews' AND 
    # games who received at least 'min reviews' from these users
    reduced = reduced[reduced["Game id"].isin(count_games[count_games["User id"] > min_reviews]["Game id"])] # delete games

    # Reiterate (recursion) till convergence 
    return filter_df(reduced, min_reviews, max_iter - 1)

In [38]:
df = filter_df(avis_clean, 10)

11201 10549
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
2086 2464
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
1800 2399
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
1792 2397
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
1791 2396
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
1791 2396
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
1791 2396
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
1791 2396
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
1791 2396
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
1791 2396
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')
Index(['Game id', 'User id', 'Game name UI', 'Username', 'Datetime', 'Rating',
       'Comment title', 'Comment body'],
      dtype='object')

In [32]:
df[["User id", "Game id"]].groupby("User id").count().reset_index().sort_values(by="Game id")

      User id  Game id
1648     3554        6
2590     6763        6
2067     4514        6
2087     4565        6
1508     3214        6
...       ...      ...
140       201      702
56         91      764
49         83      921
1           1      970
144       208     1337

[3003 rows x 2 columns]